
/* GRID */

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
  display: block;
  position: relative;
  width: 100%;
  background: var(--neutral-color);
  border: 1px solid var(--border-color);
}

.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  /* border-bottom: 1px solid var(--border-color);  */
  font-family: 'Helvetica Medium';
  font-weight: lighter;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  transform: scale(1.1);
  transition: .25s ease-out;
  color: var(--main-color);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: #17374D;
  font-size: 70%;
  padding: .75em 0;
  border-bottom: 1px solid var(--border-color);
  color: #fff;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  font-family: 'Cloister';
}

.calendar .body .cell {
  position: relative;
  min-height: 5em;
  /* border-right: 1px solid var(--border-color); */
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
  border: 2px solid transparent;
  box-sizing: border-box;
  padding: 35px 6px 6px 6px;
}

.calendar .body .cell:hover {
  background: var(--bg-color);
  transition: 0.5s ease-out;
  /* border: 2px solid #fff; */
}

.calendar .body .selected {
  /* border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1; */
  border: 2px solid #fff;
  /* box-shadow: 1px 0px 10px rgba(35,108,225,60); */
  /* background: rgba(255,255,255,100); */
}

.calendar .body .selected span.number{
  color: #fff;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
}





.calendar .body .selected:hover {
  /* border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1; */
  /* border: 2px solid #fff; */
  /* box-shadow: 1px 0px 10px rgba(35,108,225,60);
  background: #fff; */
}

.calendar .body .row {
  border-bottom: 1px solid var(--border-color);
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 95%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
  font-family: 'Cloister';
  /* color: #17374D; */
  color: #fff;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: #fff;
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
  z-index: -1;
  font-family: 'Cloister';
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.15;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.eventlink {
  display: block;
  width: 100%;
  border-radius:16px;
  /* padding: 20px 14px;
  box-sizing: border-box; */
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
  background: #E7F4AC;
  font-style: italic;
  line-height: 1;
  padding: 8px;
  font-size: 14px;
  color: #2F73A1;
  font-weight: bold;
  box-shadow: 1px 0px 10px rgba(35,108,225,60);


}

.calendar .body .cell:hover .eventlink {
 /* .eventlink:hover{ */
  box-shadow: 1px 0px 10px rgba(255,255,255);
}




@media (max-width: 1024px) {


  .eventlink {
    font-size: 0px;
    padding: 6px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    width: 12px;
    height: 12px;
    display: inline-block;


  }




}
