
/* GRID */

:root {
  --border-color: #fff;
}

center button{
  border: 2px solid white !important;
}


#load {
  display: block;
  margin: 0px auto;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 2em;
  font-style: italic;
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.row-middle {
  align-items: center;
}

.col {
  flex-grow: 1;
  flex-basis: 0;
  max-width: 100%;
 /* z-index: 50 !important; */
}

.col .cell {
 /* z-index: 50 !important; */
}

.col-start {
  justify-content: flex-start;
  text-align: left;
}

.col-center {
  justify-content: center;
  text-align: center;
}

.col-end {
  justify-content: flex-end;
  text-align: right;
}


/* Calendar */

.calendar {
    display: block;
    position: relative;
    width: calc(94% - 60px);
    margin: 0px 20px 40px auto;
    border: 1px solid white;

}


.calendar .flex-middle {
  position: fixed;
  width: calc(94% - 60px);
  margin: 30px auto;
  top: 0px;
  z-index: 100000 !important;
}


.Key {
  text-transform: none;
  box-sizing: border-box;
  padding: 0px 10px;
}

.clear {
  clear: both;
}

.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-left: 20px;
  box-shadow: 1px 0px 10px rgba(35,108,225,60);
}



.calendar .header {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 115%;
  padding: 1.5em 0;
  /* border-bottom: 1px solid var(--border-color);  */
  font-family: 'Helvetica Medium';
  font-weight: lighter;
  color: #fff;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  margin: 0px;
  padding-bottom: 0px;
  padding-top: 20px;
  /* border: 1px solid #fff; */
  box-sizing: border-box;
  background-color:  rgb(120, 160, 190, .6);
/*  background: url('../../img/cloud1.png') no-repeat fixed , url('./img/blue-bg.png') no-repeat fixed ;
*/  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.calendar .header .icon {
  cursor: pointer;
  transition: .15s ease-out;
}

.calendar .header .icon:hover {
  /* transform: scale(1.1); */
  transition: .25s ease-out;
  color: var(--main-color);
  text-shadow: 1px 0px 10px rgba(255,255,255);
}

.calendar .header .icon:first-of-type {
  margin-left: 1em;
}

.calendar .header .icon:last-of-type {
  margin-right: 1em;
}

.calendar .days {
  text-transform: uppercase;
  font-weight: 400;
  color: #17374D;
  font-size: 70%;
  padding: .75em 0;
  border-top: 1px solid var(--border-color);
  color: #fff;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  font-family: 'Cloister';
  margin-top: 100px;
}

.calendar .body .cell {
  position: relative;
  min-height: 5em;
  /* border-right: 1px solid var(--border-color); */
  overflow: hidden;
  cursor: pointer;
  background: var(--neutral-color);
  transition: 0.25s ease-out;
  border: 2px solid transparent;
  box-sizing: border-box;
  padding: 35px 6px 6px 6px;
  /* z-index: 1 !important; */
}

.calendar .body .cell:hover {
  /* background: var(--bg-color); */
  transition: 0.5s ease-out;
  /* border: 2px solid #fff; */
}

.calendar .body .selected {
  /* border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1; */
  /* border: 2px solid #fff; */
  /* box-shadow: 1px 0px 10px rgba(35,108,225,60); */
  /* background: rgba(255,255,255,100); */
   background-color: rgba(47,115,161,20);
}

.calendar .body .selected span.number{
  color: #fff;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
}





.calendar .body .selected:hover {
  /* border-left: 10px solid transparent;
  border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
  border-image-slice: 1; */
  /* border: 2px solid #fff; */
  /* box-shadow: 1px 0px 10px rgba(35,108,225,60);
  background: #fff; */
}



.calendar .body .row {
  border-top: 1px solid #fff;
}

.calendar .body .row:last-child {
  border-bottom: none;
}

.calendar .body .cell:last-child {
  border-right: none;
}

.calendar .body .cell .number {
  position: absolute;
  font-size: 95%;
  line-height: 1;
  top: .75em;
  right: .75em;
  font-weight: 700;
  font-family: 'Cloister';
  /* color: #17374D; */
  color: #fff;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
}

.calendar .body .disabled {
  color: var(--text-color-light);
  pointer-events: none;
}

.calendar .body .cell .bg {
  font-weight: 700;
  line-height: 1;
  color: #fff;
  opacity: 0;
  font-size: 8em;
  position: absolute;
  top: -.2em;
  right: -.05em;
  transition: .25s ease-out;
  letter-spacing: -.07em;
  /* z-index: -1; */
  font-family: 'Cloister';
  z-index: 1 !important;
}

.calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
  opacity: 0.15;
  transition: .5s ease-in;
}

.calendar .body .col {
  flex-grow: 0;
  flex-basis: calc(100%/7);
  width: calc(100%/7);
}

.dayevents {
  z-index: 2 !important;
}

.eventlink {
  display: block;
  width: 100%;
  border-radius:16px;
  /* padding: 20px 14px;
  box-sizing: border-box; */
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
  /* background: #E7F4AC; */
  font-style: italic;
  line-height: 1;
  padding: 12px;
  overflow:hidden;
  font-size: 14px;
  color: #2F73A1;
  font-weight: bold;
  box-shadow: 1px 0px 10px rgba(35,108,225,60);
  z-index: 2 !important;
}

.calendar .body .cell:hover .eventlink {
 /* .eventlink:hover{ */
  box-shadow: 1px 0px 10px rgba(255,255,255);
}


.gridStartTime {
  font-style: normal;
  /* float: right;
  margin-top:15px; */
}
.close-popup{
  display: block;
  float: right;
  font-size:35px;
  margin-top:-10px;
  margin-bottom: 10px;
  font-style: normal;
  color: #fff;
  font-weight: lighter;
  font-family: 'Cloister';
}

.popup {
  box-sizing: border-box;
  display: none;
  box-shadow: 1px 0px 10px rgba(255,255,255);
  position: fixed;
  width: 50%;
  top: 120px;
  left: calc(25% + 40px);
  background: rgba(47,115,161);
  font-size: 20px;
  font-weight:bold;
  font-style: normal;
  padding:20px;
  color: #2F73A1;
z-index: 100000 !important;
  /* border-radius: 16px; */
  height: calc(75% - 20px);
 overflow-y: scroll;
}

.popup .fullEvent{
  display: block;
  width: 100%;
  border-radius:16px;
  /* padding: 20px 14px;
  box-sizing: border-box; */
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
  /* background: #E7F4AC; */
  font-style: normal;
  line-height: 1;
  padding: 12px;
  overflow:hidden;
  font-size: 14px;
  color: #2F73A1;
  font-weight: bold;
  box-shadow: 1px 0px 10px rgba(35,108,225,60);
}



.fullEvent p {
  font-family: 'Helvetica Medium';
  font-size: 16px;
	line-height: 1.3;
  color: #2F73A1;
  text-shadow: none;
  margin: 0px 0px 0px 0px;
  font-style: normal;
  text-shadow: none;
}


.fullEvent h4 {
  font-size: 18px;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  display: block;
  margin: 0px;
  color: #2F73A1;
  text-shadow: none;
}


/*THIS CODE MAKES A'S W/O VALID HREFS LOOK LESS CLICKABLE*/

.fullEvent h4 a[href^="http://"] {
  text-decoration: underline;
  color: inherit;
}
.fullEvent h4 a[href^="https://"] {
  text-decoration: underline;
  color: inherit;
}

.fullEvent h4 a[href^="http://"]:hover {
  color: #224C69 !important;
}
.fullEvent h4 a[href^="https://"]:hover {
  color: #224C69 !important;
}

.fullEvent h4 a[href^="http://"]:visited {
  color: inherit;
}

.fullEvent h4 a[href^="https://"]:visited {
  color: inherit;
}

.fullEvent img {
  margin: 10px auto;
}


.popup .gridStartTime{
  /* margin-top:20px; */
}

.popup img {
  width: 300px;
  max-width: 100%;
}

a.join {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  display: inline-block;
  margin-left: 5px;
  padding-bottom: 3px;
  color: #2F73A1;
  text-decoration: none;
  border: 2px solid #2F73A1;
  border-radius: 100%;
  padding: 20px;
  width: auto;
}

.footer {
  padding: 20px 0px 20px 0px;
  box-sizing: border-box;
}


.footerLeft {
  float: left;
  vertical-align: center;
}

.footerRight {
  float: right;
  vertical-align: center;
}


.Red-Fill, #Meetup, .Meetup {
  background-color: #FF8B8E;
}

.Orange-Fill, #Film, .Film {
  background-color: #FFBEA1;
}

.Yellow-Fill, #Nightlife, .Nightlife{
  background-color: #E7F4AC;
}

.Green-Fill, #MovementMeditation, .MovementMeditation {
  background-color: #A6F876;
}

.Teal-Fill, #KnowledgeShare, .KnowledgeShare {
  background-color: #00FFBB;
}

.Blue-Fill, #SongCircle, .SongCircle {
  background-color: #00EEFC;
}

.Indigo-Fill, #CheckIn, .CheckIn {
  background-color: #45C2FF;
}

.Purple-Fill, #CommunityCollab, .CommunityCollab {
  background-color: #A4BDFF;
}

.Purple-Fill, #CommunityProgram, .CommunityProgram {
  background-color: #A4BDFF;
}

.Pink-Fill, #FrontlinePSA, .FrontlinePSA {
  background-color: #FDC2F8;
}

.White-Fill {
  background-color: #fff;
}


 button {
  background-color:  rgb(120, 160, 190);
/*  background-color:#00EEFC;*/
    /* background-color: Transparent; */
    background-repeat:no-repeat;
  position: fixed;
  /* position: absolute; */
  top: 5px;
  left: 2px;
  width: 60px;
  min-height: 60px;
  line-height: 60px;
  border-radius:100%;
  border:3px solid #fff;
  display:inline-block;
  cursor:pointer;
  margin: .5em;
  /* margin-top: 50%; */
  color:#ffffff;
  font-size:30px;
  /* padding:10px; */
  text-align: center;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  z-index: 1000000 !important;
  box-sizing: border-box;
  padding: 0px;
}

button:hover {
  background-color: rgba(47,115,161,20);
  opacity: .7;
}
/* button:active {
  position:relative;
  top:1px;
} */



@media (max-width: 1208px) and (min-width: 1025px) {

  .calendar .days {
      margin-top: 125px;
  }

}




@media (max-width: 1024px) {


  .eventlink {
    font-size: 0px;
    padding: 0px;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
    width: 10px;
    height: 10px;
    display: inline-block;

  }


  .calendar {
      display: block;
      position: relative;
      width: 96%;
      margin: 20px auto auto;
      border: 0px solid white;
  }

  .calendar .flex-middle {
    position: relative;
    width: 100%;
    margin: 0px auto;
    top: 0px;
    z-index: 100000 !important;
  }

  .eventlink h5 {
     display: none;
   }

   .popup {
    box-sizing: border-box;
    display: none;
    box-shadow: 1px 0px 10px rgba(255,255,255);
    position: fixed;
    width: 96%;
    top: 10px;
    left: 2%;
    background: rgba(47,115,161);
    font-size: 20px;
    font-weight:bold;
    font-style: normal;
    padding:20px 10px;
    color: #2F73A1;
  z-index: 100000 !important;
    /* border-radius: 16px; */
    height: calc(100% - 20px);
    overflow-y: scroll;
  }

  .Key span {
    font-family: 'Helvetica Medium';
    font-style: italic;
    color: rgba(255,255,255, .85);
    line-height: 1.75;
    font-size: 12px;
    letter-spacing: 1px;
    text-shadow: 1px 0px 5px rgba(47,115,161,20);
  }

  .calendar .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
    /* border-bottom: 1px solid var(--border-color);  */
    font-family: 'Helvetica Medium';
    font-weight: lighter;
    color: #fff;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 1px;
    text-shadow: 1px 0px 10px rgba(47,115,161,20);
    margin: 0px;
    padding-bottom: 0px;
    padding-top: 20px;
    /* border: 1px solid #fff; */
    box-sizing: border-box;
    background-color:  rgb(120, 160, 190, .4);
/*    background: url('../../img/cloud1.png') no-repeat fixed , url('./img/blue-bg.png') no-repeat fixed ;
*/    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
  }

  .calendar .days {
   text-transform: uppercase;
   font-weight: 400;
   color: #17374D;
   font-size: 70%;
   padding: .75em 0;
   border-top: 1px solid var(--border-color);
   color: #fff;
   text-shadow: 1px 0px 10px rgba(47, 115, 161, 1);
   font-family: 'Cloister';
   margin-top: 0px;
   }

   .bullet {
     display: inline-block;
     width: 10px;
     height: 10px;
     border-radius: 100%;
     margin-left: 20px;
     box-shadow: 1px 0px 10px rgba(35,108,225,60);
   }

   .dayevents {
     text-align: center
   }


   a.join {
     font-size: 12px;
     font-weight: bold;
     line-height: 1;
     text-transform: uppercase;
     display: inline-block;
     margin-left: 5px;
     padding-bottom: 3px;
     color: #2F73A1;
     text-decoration: none;
     border: 2px solid #2F73A1;
     border-radius: 100%;
     padding: 12px;
     width: auto;
   }





   .fullEvent p {
     font-family: 'Helvetica Medium';
     font-size: 14px;
     line-height: 1.3;
     color: #2F73A1;
     text-shadow: none;
     margin: 0px 0px 0px 0px;
     font-style: normal;
     text-shadow: none;
   }


   .fullEvent h4 {
     font-size: 16px;
     font-weight: bold;
     font-style: italic;
     line-height: 1;
     display: block;
     margin: 0px;
     color: #2F73A1;
     text-shadow: none;
   }

   .Key {
     text-transform: none;
     box-sizing: border-box;
     padding: 0px 5px;
   }


      .calendar .days {
       border-top: 0px solid var(--border-color);
       }



        button {
       /*  background-color:#00EEFC;*/
           /* background-color: Transparent; */
           background-repeat:no-repeat;
         /* position: fixed; */
         position: relative;
         /* top: 5px; */
         border-radius:100%;
         border:3px solid #fff;
         display:inline-block;
         cursor:pointer;
         margin: 0px;
         /* margin-top: 50%; */
         color:#ffffff;
         text-align: center;
         text-decoration:none;
         text-shadow:0px 1px 0px #2f6627;
         z-index: 1000000 !important;
         width: 46px;
         height: 46px;
         min-height: 46px;
         font-size: 22px;
         line-height: 42px;
       }




}
