/* GLOBAL */

* {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
  outline: 0;
  outline: none;
}

@keyframes float {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-20px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

@keyframes float2 {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(30px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}

@keyframes float3 {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatey(-12px);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatey(0px);
	}
}





/* FONTS */

@font-face {
    font-family: 'Helvetica Medium';
    src: url('fonts/HelveticaMedium.woff2') format('woff2'),
        url('fonts/HelveticaMedium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Medium Italic';
    src: url('fonts/HelveticaBQ-MediumItalic.woff2') format('woff2'),
        url('fonts/HelveticaBQ-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Cloister';
    src: url('fonts/CloisterBlack-Light.woff2') format('woff2'),
        url('fonts/CloisterBlack-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}


/*  COLORS */

.Red-Fill {
  background-color: #FF8B8E;
}

.Red-Outline {
  border: 3px solid #FF8B8E;
}

.Orange-Fill {
  background-color: #FFBEA1;
}

.Orange-Outline {
  border: 3px solid #FFBEA1;
}

.Yellow-Fill {
  background-color: #E7F4AC;
}

.Yellow-Outline {
  border: 3px solid #E7F4AC;
}

.Green-Fill {
  background-color: #00FFAA;
}

.Green-Outline {
  border: 3px solid #00FFAA;
}

.Blue-Fill {
  background-color: #00EEFC;
}

.Blue-Outline {
  border: 3px solid #00EEFC;
}

.Purple-Fill {
  background-color: #8CABFF;
}

.Purple-Outline {
  border: 3px solid #8CABFF;
}

.Pink-Fill {
  background-color: #FDC2F8;
}

.Pink-Outline {
  border: 3px solid #FDC2F8;
}

.White-Fill {
  background-color: #fff;
}



/* DIV STYLES */

.Content {
  padding: 0px 0px 20px 0px;
	float: right;
  margin: 0px 1em 1em 1em;
	margin-right: 2em;
  width: 30vw;
  box-sizing: border-box;
}

#root {
  height: 100vh;
  overflow: auto;
  scroll-behavior: smooth;
  /* position: fixed;
  top: 0px;
  left:0px; */
}


#Committees {
	float: left;
  padding-bottom: 5em;
}

#CommitteesInfo {
  float: left;
  margin-top: -200px;
}

#MainElementsInfo {
  float: left;
}


#CalendarLink {
  display: block;
  width: 100%;
  border-radius: 32px;
  padding: 10px 14px 7px 14px;
  box-sizing: border-box;
  box-shadow: 1px 0px 10px rgba(35,108,225,60);
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

#CalendarLink:hover {
  box-shadow: 1px 0px 10px rgba(255,255,255,60);
}



#Event {
  display: block;
  width: 100%;
  border-radius: 32px;
  /* padding: 20px 14px;
  box-sizing: border-box; */
  box-shadow: 1px 0px 10px rgba(35,108,225,60);
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

#Event:hover {
  box-shadow: 1px 0px 10px rgba(255,255,255,60);
}

details, summary, .eventTitle {
  display: block;
  width: 100%;
}

summary {
  list-style-image: none;
  display: block;
  margin: 0px;
  width: 100%;
  padding: 20px 14px;
  box-sizing: border-box;
}

summary::-webkit-details-marker {
  background: none;
  color: transparent;
  display: block;
  margin: 0px;
  height: 0px;
}

details p, details .footer {
  padding: 0px 14px 20px 14px;
  box-sizing: border-box;
}

.footer {
  padding: 20px 14px 20px 14px;
  box-sizing: border-box;
}

.calender {
	display: block;
	width: 100%;
	border-radius: 100%;
}


.footerLeft {
  float: left;
  vertical-align: center;
}

.footerRight {
  float: right;
  vertical-align: center;
}

.clear {
  clear: both;
}


.Key {
  width: 100%;
  /* position: fixed; */
  /* top: 20px; */
  /* left: 33vw; */
  display: block;
  z-index: -1;
  text-align: center;
  margin: 20px auto;
}

.bullet {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 100%;
  margin-left: 20px;
  box-shadow: 1px 0px 10px rgba(35,108,225,60);
}


.bubble {
  cursor: pointer;
  background-color:  rgb(120, 160, 190);
  background: url('./img/cloud1.png') no-repeat fixed , url('./img/blue-bg.png') no-repeat fixed ;
  text-align: center;
  position: absolute;

}

.bubble:hover {
  box-shadow: 1px 0px 20px rgba(255,255,255,40);
}

/*Donate*/
.bubble:nth-child(2) {
    z-index: 2;
  border-radius: 50%;
   padding: 2%;
    box-sizing: border-box;
   width: 230px;
   height:230px;
   display: flex;
    justify-content: center;
    align-items: center;
    top: 65%;
    left: 15%;
    animation: float2 6s ease-in-out infinite;
    border: 3px solid #00FFBB;
}
.bubble:nth-child(2):hover {
  top: 64%;
  z-index: 1;
}

/*Calendar*/
.bubble:nth-child(3) {
    z-index: 2;
   box-sizing: border-box;
   width: 130px;
   height: 130px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1%;
   top: 17%;
   left: 23%;
  animation: float2 6s ease-in-out infinite;
  border: 3px solid #E7F4AC;

}
.bubble:nth-child(3):hover {
  top: 16%;
  z-index: 1;
}


/*Community Guidelines*/
.bubble:nth-child(4) {
   z-index: 2;
   box-sizing: border-box;
   width: 110px;
   height: 110px;
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 1%;
   bottom: 14%;
   left: 7%;
   animation: float3 6s ease-in-out infinite;
   border: 3px solid #A6F876;
}
.bubble:nth-child(4):hover {
  bottom: 14%;
  z-index: 1;
}


/*Get Involved*/
.bubble:nth-child(6) {
  z-index: 1;
   box-sizing: border-box;
	 width: 130px;
   height: 130px;
	 border-radius: 50%;
	 display: flex;
   justify-content: center;
   align-items: center;
	 padding: 1%;
	 top: 57%;
   left: 2%;
   animation: float2 6s ease-in-out infinite;
   border: 3px solid #FDC2F8;
}

.bubble:nth-child(6):hover {
  top: 56%;
  z-index: 1;
}


/*Mutual Aid*/
.bubble:nth-child(5) {
  z-index: 2;
  border-radius: 50%;
  padding: 2%;
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 6%;
  left: 15%;
  animation: float 6s ease-in-out infinite;
   border: 3px solid #00EEFC;
}
.bubble:nth-child(5):hover {
  top:5%;
  z-index: 1;
}


/*About*/
.bubble:nth-child(1) {
  z-index: 1;
  border-radius: 50%;
  padding: 1%;
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 27%;
  left: 5%;
  animation: float 6s ease-in-out infinite;
  border: 3px solid #FFBEA1;
}

.bubble:nth-child(1):hover {
  bottom:26%;
  z-index: 1;
}

td {
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* TEXT STYLES */

p {
  font-family: 'Helvetica Medium';
  font-size: 18px;
	width: 100%;
	line-height: 1.4;
  color: #fff;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  margin: 0px;
  box-sizing: border-box;
}

.bubble p {
  font-family: 'Helvetica Medium';
  font-size: 16px;
	width: 100%;
	line-height: 1.4;
  color: #fff;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  margin: 0px;
  box-sizing: border-box;
  padding: 0% 6%;
}

p.Event {
  font-family: 'Helvetica Medium';
  font-size: 16px;
	width: 100%;
	line-height: 1.3;
  color: #2F73A1;
  text-shadow: none;
  margin: 20px 0px;
}

.break {
  border-bottom: 2px solid rgba(255,255,255,.30);
  display: block;
  width: 100%;
  height: 10px;
  margin: 20px 10px 30px 0px;
  box-sizing: border-box;
}


.bigBreak {
  display: block;
  width: 100%;
  height: 90px;
}



/* title headings italic title all caps*/
h1 {
  font-family: 'Helvetica Medium';
  font-weight: lighter;
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  margin: 0px;
  padding-bottom: 10px;
  padding-top: 20px;
}

/* big number */
h2 {
  font-family: 'Cloister';
  color: #fff;
  font-size: 61px;
  font-weight: lighter;
  display: inline-block;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  margin:0px;
  margin-top: -20px;
  padding-bottom: 20px;
}

/* italic title all caps*/
h3 {
  font-family: 'Helvetica Medium';
  font-weight: lighter;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 1px;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  margin: 0px;
  padding-bottom: 10px;
}

/*  italic title regular case */
/*COMMITTEE TITLE*/
h4 {
  font-size: 19px;
  font-weight: bold;
  font-style: italic;
  line-height: 1;
  display: block;
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
}

/* small all caps title */
h5 {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  display: block;
  margin: 0px;
  padding-bottom: 3px;
  color: #2F73A1;
}

h5 span {
  text-transform: lowercase;
  display: block;
}

h5.light {
  font-size: 14px;
  font-weight: bold;
  line-height: 1.3;
  text-transform: uppercase;
  display: block;
  margin: 0px;
  padding-bottom: 3px;
  color: #fff;
  text-shadow: 1px 0px 10px rgba(47,115,161,20);
  padding: 10px 0px;
}


#Link {
  display: block;
  width: 100%;
  border-radius: 32px;
  box-shadow: 1px 0px 10px rgba(35,108,225,60);
  margin-bottom: 10px;
  cursor: pointer;
  box-sizing: border-box;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  line-height: 28px;
  text-transform: uppercase;
  display: block;
  margin-top: 20px;
  text-decoration: none;
  padding-left: 10px;
  color: #2F73A1;
}

#Link:hover {
  box-shadow: 1px 0px 10px rgba(255,255,255,60);
  color: rgba(35,108,225);
}


#Link span {
  float: right;
  padding-right: 10px;
  font-size: 25px;
}

a.bubble {
  text-decoration: none;
}

a.join {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  margin: 0px;
  padding-bottom: 3px;
  color: #2F73A1;
  text-decoration: none;
  border: 2px solid #2F73A1;
  border-radius: 100%;
  padding: 20px;
}

a.join:hover {
  background: #fff;
}

a.joinLight {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  text-transform: uppercase;
  display: block;
  margin: 0px;
  padding-bottom: 3px;
  color: #fff !important;
  text-decoration: none;
  border: 2px solid #fff;
  border-radius: 100%;
  padding: 20px;
}

a.joinLight:hover {
  background: #fff;
  color: #2F73A1 !important;
  border: 2px solid #2F73A1;
}



.Key span {
  font-family: 'Helvetica Medium';
  font-style: italic;
  color: rgba(255,255,255, .85);
  line-height: 1.75;
  font-size: 14px;
  letter-spacing: 1px;
  text-shadow: 1px 0px 5px rgba(47,115,161,20);
}


.resources-bubble h5 {
	text-align: center;
	vertical-align: middle;
	line-height: 120px;
	flex: 0 0 120px;
}

.contribute-bubble h5 {
	text-align: center;
	vertical-align: middle;
	line-height: 120px;
	flex: 0 0 120px;
}

.arrow {
  font-size: 30px;
  line-height: 10px;
  color: #2F73A1;

}

summary:hover  h5, summary:hover  h4 {
  color: #224C69;
}


p span {
  text-decoration: underline;
  font-style: italic;
}

p a:hover {
  text-shadow: 0px 0px 4px #FFFFFF;
}


a[href^="https://"] h1 {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: yellow;
  width:
}

a[href^="https://"] h1:hover  {
  background-color: yellow;
  text-decoration: none;
}

a[href^="http://"] h1 {
  display: inline-block;
  text-decoration: underline;
  text-decoration-color: yellow;
}

a[href^="http://"] h1:hover {
  background-color: yellow;
  text-decoration: none;
}

a{
  color:inherit;
}

a:visited {
  color: inherit;
}

#CommitteeDesc {
  /* font-style: italic; */
  /* color: yellow; */
}



/* MAKE RESPONSIVE */



@media (max-width: 1024px) {

  .Content {
    margin: 0vh auto 0 auto;
    padding: 0px 0px 20px 0px;
  	float: left;
    margin-left: 3vw;
    width: 94vw;
    box-sizing: border-box;
    position: absolute;
    top: 100vh;
  }

.bigBreak {
  display: block;
  width: 100%;
  height: 80px;
}

 #CalendarContainer {
    margin-top: 10em;
  }


  .Key {
    width: 94vw;
    /* position: fixed; */
    /* top: 20px; */
    /* left: 3vw; */
    display: block;
    text-align: center;
  }




  .bubble {
    cursor: pointer;
    background-color:  rgb(120, 160, 190);
    background: url('./img/cloud1.png') no-repeat fixed , url('./img/blue-bg.png') no-repeat fixed ;
    text-align: center;
    position: absolute;

  }

  .bubble h5 {
    font-size: 11px;
  }
/*
  .bubble p {
    font-size: 14px;
  } */

  .bubble:hover {
    box-shadow: 1px 0px 20px rgba(255,255,255,40);
  }

  /*Donate*/
  .bubble:nth-child(3) {
    z-index: 2;
    border-radius: 50%;
     padding: 2%;
      box-sizing: border-box;
     width: 80px;
     height:80px;
     display: flex;
      justify-content: center;
      align-items: center;
      bottom: 15%;
      right: 7%;
      left: auto;
      top: auto;
      animation: float2 6s ease-in-out infinite;
  }
  .bubble:nth-child(3):hover {
    top: auto;
    bottom: 15%;
    z-index: 1;
  }


  /*Donate*/
  .bubble:nth-child(2) {
    z-index: 2;
    border-radius: 50%;
     padding: 2%;
      box-sizing: border-box;
     width: 80px;
     height:80px;
     display: flex;
      justify-content: center;
      align-items: center;
      bottom: 15%;
      right: 7%;
      left: auto;
      top: auto;
      animation: float2 6s ease-in-out infinite;
  }
  .bubble:nth-child(2):hover {
    top: auto;
    bottom: 15%;
    z-index: 1;
  }

    .bubble:nth-child(2) p {
    display: none;
  }

  /*Community Guidelines*/
  .bubble:nth-child(4) {
    z-index: 2;
    border-radius: 50%;
    padding: 2%;
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 7%;
    left: auto;
    right: 10%;
    animation: float 6s ease-in-out infinite;
  }
  .bubble:nth-child(4):hover {
    top: 7%;
    z-index: 1;
  }


  /*Get Involved*/
  .bubble:nth-child(6) {
    z-index: 1;
     box-sizing: border-box;
  	 width: 120px;
     height: 120px;
  	 border-radius: 50%;
  	 display: flex;
     justify-content: center;
     align-items: center;
  	 padding: 1%;
  	 bottom: 12%;
     left: 7%;
     top: auto;
     animation: float2 6s ease-in-out infinite;
  }

  .bubble:nth-child(6):hover {
    top: auto;
    bottom: 12%;
    z-index: 1;
  }


  /*HELP*/
  .bubble:nth-child(5) {
    z-index: 2;
     box-sizing: border-box;
  	 width: 90px;
     height: 90px;
  	 border-radius: 50%;
  	 display: flex;
     justify-content: center;
     align-items: center;
  	 padding: 1%;
     top: 0.5%;
     left: 12%;
       animation: float2 6s ease-in-out infinite;
  }
  .bubble:nth-child(5):hover {
    top:0.5%;
    z-index: 1;
  }


  /*Calendar*/
  .bubble:nth-child(1) {
    z-index: 2;
     box-sizing: border-box;
  	 width: 310px;
     height: 310px;
  	 border-radius: 50%;
  	 display: flex;
     justify-content: center;
     align-items: center;
     top: 38%;
  	 padding: 1%;
     left: 16%;
    animation: float3 6s ease-in-out infinite;
  }
  .bubble:nth-child(1):hover {
    bottom:5%;
    z-index: 1;
  }
    .bubble:nth-child(1) p {
/*    display: none;*/
  }





}
