html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}


body {
  margin: 0;
  font-family: 'Sen', sans-serif;
  background: url('./img/cloud1.png') no-repeat fixed , url('./img/blue-bg.png') no-repeat fixed ;
  background-size: cover;
  background-color: skyblue;
  width: 100%;
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}
