
@keyframes cloudmove {
	0% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatex(-100vw);
	}
	50% {
		/* box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2); */
		transform: translatex(0vw);
	}
	100% {
		/* box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6); */
		transform: translatex(100vw);
	}
}

html {
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
  position: relative;
}


body {
  margin: 0;
  font-family: 'Sen', sans-serif;
  background: url('./img/cloud1.png') no-repeat fixed , url('./img/blue-bg.png') no-repeat fixed ;
  background-size: cover;
  background-color: skyblue;
  width: 100%;
  font-family: sans-serif;
  height: 100%;
  /* overflow: hidden; */
  /* animation: cloudmove 6s ease-in-out infinite; */
}

.cloudbg {
  background: url('./img/cloud2.png') no-repeat fixed ;
  background-size: contain;
  animation: cloudmove 60s linear infinite;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -1;
  display: block;
  height: 100vh;
  width: 100vw;
  opacity: .35;
	position: fixed;
	top:0px;
	left: 0px;
}
